a{
    position: fixed;
    top: 20px;
    right: 20px;
}
body{
    background-color: rgb(213, 205, 205);
}
table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    background-color: azure;
}
th {
    border: 1px solid #070707;
    padding: 12px;
    background-color: #000000c7;
    color: white;
}
td {
    border:0.5px solid #111111;
}
h2 {
    font-size: 28px;
    color: #333;
    text-align: center;
}